
<div id="articles">
{{#each Article}}
  <article data-id="{{this._id}}">


    <div class="title">
      <h1>{{this.title}}</h1>
    </div>

    <img src="{{this.imageURL}}" width="150">

    <div class="excerpt">
      {{this.excerpt}}
    </div>

{{!-- Additional Data  --}}

{{!--  <br>
    {{this.link}}
    <br>
    {{this.articleDate}}
    <br>
    {{this.created}}
    <br> --}}
    
  </article>
{{/each}}
</div>



<div class="note-container">

  <div id="notes">
  </div>
  
</div>