
<div id="articles">
{{#each Article}}
  <article data-id="{{this._id}}">
    {{this.title}}
    <br>
    {{this.excerpt}}
    <br>
    {{this.link}}
    <br>
    {{this.articleDate}}
    <br>
    {{this.created}}
    <br>
    
    <img src="{{this.imageURL}}" width="150">
    <br>    
  </article>
{{/each}}
</div>




<div class="note-container">

    <div class="heading">A</div>


<div id="notes">
  11111
</div>
</div>